
body{
    
    background-image: linear-gradient(315deg,#b8c6db 0%, #f5f7f7 100%);
    font-family: 'Rampart One', cursive;
    margin: 0;
}
h2{
    font-size: 1.4rem;
    text-align: center;
}
.quiz-container{
    background-color: #fff;
    width: 550px;
    height: 300px;
    border-radius: 10px;
    
    text-indent: 1%;
    margin: 0% auto;
}
ul{
    list-style-type: none;
    padding:0;
}
ul li{
    font-size:.7rem;
    margin:1rem 0;
}
ul li label{
    cursor: pointer;
}
button{
    background-color: #03cae4;
    color:#f5f7f7;
    border-radius: 10px;
    display:block;
    width:100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding:1.0rem;
}
button:hover{
    background-color: #04adc4;
}

.roles {
    background-color: rgb(255, 255, 255);
    width: 720px;
    height: 840px;
    border-radius: 10px;
    text-indent: 1%;
    margin: 0% auto;
}

.roleText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0%;
    text-align: center;
}
